<html>
<head>
<link rel="stylesheet" type="text/css" href="Temp_Del.css">
<script
	src="jquery-2.2.3.min.js"></script>
	<script src="angular.js"></script>
<script src="angular-cookies.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
<script src="check.js"></script>

<script type="text/javascript">
	
	function open_curtain() {
		$("#curtain1").animate({
			width : 20
		}, 1000);
		$("#curtain2").animate({
			width : 20
		}, 1000);
		$('body').css('background-image', 'url("giphy.gif")');
		$('body').css('background-size', 'cover');
	}
	function close_curtain() {
		$("#curtain1").animate({
			width : 750
		}, 1000);
		$("#curtain2").animate({
			width : 750
		}, 1000);

	}
</script>
<script type="text/javascript">

</script>
</head>
<body>
	<div class="wrapper" data-ng-app="p1tracker" data-ng-controller="UserHomeController" data-ng-init="init()">
		<div class="header">
			<p id="golive">GSD Logged in as {{InogDetails.Name}}</p>
		</div>


		<div class="content">


			<img src="before.png" id="curtain1" style="width: 50%"> <img
				src="before.png" id="curtain2" style="width: 50%">
		</div>

<!-- <textarea data-ng-model="type" data-ng-model="cursor">{{type}}</textarea> -->




		<div class="footer">
			<div id="start" data-ng-if="currentPasscode == '1234' && InogDetails.Name=='Shweta'">
				<div class="message">Hello Ivo, Please go ahead with Ribbon
					cutting</div>
				<a href="#" class="btn btn-info btn-lg"
				style="transition: all linear 0.5s;"
					data-ng-click="SaveCode('3456');"> <img
					src="sci.png" style="width: 100px; height: 100px">
				</a>
			</div>
			<div id="start" data-ng-if="currentPasscode == '3456' && InogDetails.Name=='Shweta'">
				<div class="message">Waiting for Vijay to go ahead....</div>
			</div>
			<div id="start" data-ng-if="currentPasscode == '0099' && InogDetails.Name=='Shweta'">
				<div class="message">Waiting for Fredric to go ahead....</div>
			</div>
			<div id="start2" data-ng-if="currentPasscode == '3456' && InogDetails.Name=='Radhika'">
				<div class="message">Hello Vijay, Please go ahead with Ribbon
					cutting</div>
				<a href="#" class="btn btn-info btn-lg"
					data-ng-click="SaveCode('0099');"> <img
					src="sci.png" style="width: 100px; height: 100px">
				</a>
			</div>
			<div id="start" data-ng-if="currentPasscode == '1234' && InogDetails.Name=='Radhika'">
				<div class="message">Waiting for Ivo to go ahead....</div>
			</div>
			<div id="start" data-ng-if="currentPasscode == '0099' && InogDetails.Name=='Radhika'">
				<div class="message">Waiting for Fredric to go ahead....</div>
			</div>
			<div id="start3" data-ng-if="currentPasscode == '0099' && InogDetails.Name=='Gaurav'">
				<div class="message">Hello Fredric, Please go ahead with
					Ribbon cutting</div>
				<a href="#" class="btn btn-info btn-lg"
					data-ng-click="SaveCode('0000');open_curtain();congrats();">
					<img src="sci.png" style="width: 100px; height: 100px">
				</a>
			</div>
			<div id="start" data-ng-if="currentPasscode == '1234' && InogDetails.Name=='Gaurav'">
				<div class="message">Waiting for Ivo to go ahead....</div>
			</div>
			<div id="start" data-ng-if="currentPasscode == '3456' && InogDetails.Name=='Gaurav'">
				<div class="message">Waiting for Vijay to go ahead....</div>
			</div>
			<div id="start" data-ng-if="currentPasscode == '1234' && InogDetails.Name=='Guest'">
				<div class="message">Waiting for Ivo to go ahead....</div>
			</div>
			<div id="start" data-ng-if="currentPasscode == '3456' && InogDetails.Name=='Guest'">
				<div class="message">Waiting for Vijay to go ahead....</div>
			</div>
			<div id="start" data-ng-if="currentPasscode == '0099' && InogDetails.Name=='Guest'">
				<div class="message">Waiting for Fredric to go ahead....</div>
			</div>





		</div>
	</div>
</body>
</html>